.main-banner-container {
  width: 100%;
  height: 56vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.main-banner-img-background {
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/mainBanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner-sub-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-banner-conforto {
  margin-left: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  color: gold;
}

.main-banner-destino {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.main-banner-prioridade {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  color: gold;
}

.main-banner-motorista {
  margin-left: 20px;
  font-size: 0.8rem;
  color: #fff;
}
