.navbar-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.navbar-coatofarms {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.navbar-coatofarms-write {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-coatofarms-motorista {
  font-weight: bold;
}

.navbar-coatofarms-particular {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  color: gold;
}

.navbar-menu {
  margin-right: 20px;
  cursor: pointer;
}

.navbar-modal-menu {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 60%;
  height: 40vh;
  background-color: #fff;
  border-bottom-left-radius: 10px;
}

.navbar-modal-menu-hidden {
  display: none;
}
